name: pony / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install project dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install build-essential -y
          
      - name: Install ponyup
        run: |
          bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/ponylang/ponyup/latest-release/ponyup-init.sh)"
          echo $HOME/.local/share/ponyup/bin >> $GITHUB_PATH
        
      - name: Install ponyc
        run: ponyup update ponyc release

      - name: Run exercism/pony ci (runs tests) for all exercises
        run: bin/test-exercises
